*,
*::before,
*::after{
    padding: 0;
    margin: 0;
}

:root{
    --main-grid: #d6ccc2;
    --main-bg: #f5ebe0;
}

body{
    background-color: var(--main-bg);
    font-family: "Roboto", serif;
}

.button-container{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid-button,
.toggle-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-grid);
    border-radius: 5%;
    text-transform: uppercase;
    margin: 0 10px;
    width: 140px;
    height: 40px;
    transition: all 0.2s ease-in;
    text-align: center;
}

.grid-button:hover,
.toggle-button:hover{
    background-color: var(--main-bg);
    cursor: pointer;
    border: 1px solid black;
}

#sketch-area{
    background-color: var(--main-grid);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cell{
    background-color: var(--main-grid);
    border: 1px solid var(--main-bg);
}